@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('./subset-Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-roboto: "Roboto", sans-serif; 
    --animate-moving: moving 3s ease-out infinite alternate;
    --animate-weather: weather 1.5s ease-in-out infinite alternate;
    @keyframes moving {
        0% {
            background-position: 50% 50%;
        }
        50% {
            background-position: 60% 50%;
        }
        100% {
            background-position: 40% 50%;
        }
    }
    @keyframes weather {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.02);
        }
    }
}